body {
    height: 100%;
    background-color: #912cbaa3;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45vh;
}

.card {
    height: 300px;
    width: 400px;
    border-radius: 25px;
    background-image: url("http://placekitten.com/400/300");
    box-shadow: -1rem 0 3rem #000;
    transition: transform 0.8s ease;
}

.card:hover {
    transform: scale(1.1);
}

/* Individual cards */

.firstCard {
    background-image: url("../images/weatherAPI.png");
    background-size: cover;
    background-position: center;
}